.wrapper {
    border: 1px solid #3B5998;
    padding: 30px;
    margin-bottom: 10px;
}

.title-text {
    font-size: 40px;
    font-weight: bold;
    color: #3B5998;
}
.main-text{
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.text-menu {
    flex: 0 0 50%;
    margin: auto;
}
.input-menu{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email__text{
    font-weight: bold;
    color: #3B5998;
}
