<div class="container">
    <div class="login-wrapper">
        <form (ngSubmit)="onSubmit()" [formGroup]="myForm" class="login-form">
            <span class="login-form-title">
                Welcome
            </span>
            <span class="login-form-icon">
                <i aria-hidden="true" class="fa fa-eercast fa-5x"></i>
            </span>
            <div class="wrap-input100 validate-input">
                <input class="input100" formControlName="email" name="email"
                       type="text">
                <span class="focus-input100" data-placeholder="Email"></span>
                <span *ngIf="myForm.get('email').touched && myForm.get('email').invalid" class="text-danger">
                    <span *ngIf="myForm.get('email').errors?.required">
                        Email required!
                    </span>
                    <span *ngIf="myForm.get('email').errors?.email">
                        Enter email please!
                    </span>
                </span>
            </div>

            <div class="wrap-input100 validate-input">
                <input class="input100" formControlName="password" name="pass" type="password">
                <span class="focus-input100" data-placeholder="Password"></span>
                <span *ngIf="myForm.get('password').touched && myForm.get('password').invalid" class="text-danger">
                <span *ngIf="myForm.get('password').errors?.required">
                    Password required!
                </span>
            </span>
            </div>
            <button class="btn btn-primary submit" type="submit" [disabled]="!myForm.valid">LOGIN</button>
        </form>
    </div>
</div>

