<div class="header-area">
    <div class="header_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-md-4 d-none d-md-block">
                    <div class="header_links ">
                        <ul>
                            <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                            <li><a class="twiter" href="#"> <i class="fa fa-twitter"></i> </a></li>
                            <li><a class="insta" href="#"> <i class="fa fa-instagram"></i> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="logo">
                        <a routerLink="/">
                            <img alt="Logo Image" src="assets/img/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 d-none d-md-block">
                    <div class="login_resiter">
                        <ng-container *ngIf="!userService.isLoggedIn(); else user">
                            <p>
                                <a routerLink="/auth/login">
                                    <i class="fa fa-user"></i>login
                                </a>
                                |
                                <a routerLink="/auth/registration">Register</a>
                            </p>
                        </ng-container>
                        <ng-template #user>
                            <span dropdown>
                                  <a (click)="false" aria-controls="basic-link-dropdown" dropdownToggle href
                                     id="basic-link">{{userInfo.username}}</a>
                                  <ul *dropdownMenu aria-labelledby="basic-link" class="dropdown-menu dropdown-menu-right" id="basic-link-dropdown" role="menu">
                                    <li>
                                        <a class="dropdown-item">Мой профиль</a>
                                        <a class="dropdown-item">Ke1</a>
                                    </li>
                                  </ul>
                            </span>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
