<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="color: #FFFFFF">Latest on Blog</h1>
            </div>
        </div>
        <div class="row">
            <div class="d-flex flex-wrap">
                <div class="col-lg-8 col-md-6 col-12" style="margin-bottom: 20px;" *ngIf="newestBlogs.length > 0">
                    <article class="d-flex flex-column flex-wrap align-items-start h-100"
                             style="background-color: #FFFFFF">
                        <section class="d-flex flex-wrap justify-content-between w-100">
                            <a  [routerLink]="'/blog/'+newestBlogs[0]?.id" style="padding: 30px 30px 0; flex: 1">
                                <span>{{newestBlogs[0]?.title}}</span>
                            </a>
                            <a class="big-img-wrapper" [routerLink]="'/blog/'+newestBlogs[0]?.id">
                                <img alt="post"
                                     class="img-fluid img-first"
                                     (error)="errorImageHandler($event)"
                                     [src]="newestBlogs[0]?.photoUrl"
                                     style="width: 100%; max-width: 300px; height: 200px; max-height: 300px;">
                            </a>
                        </section>
                        <span class="p-3">{{newestBlogs[0]?.shortDescription}}</span>
                    </article>
                </div>

                <div *ngFor="let blog of newestBlogs?.slice(1)" class="col-lg-4 col-md-6 col-12"
                     style="margin-bottom: 20px;">
                    <article class="d-flex flex-column flex-wrap justify-content-between align-items-start h-100"
                             style="background-color: #FFFFFF">
                        <a class="w-100" [routerLink]="'/blog/'+blog?.id">
                            <img alt="post"
                                 class="img-fluid"
                                 (error)="errorImageHandler($event)"
                                 [src]="blog?.photoUrl"
                                 style="width: 100%; height: 200px; max-height: 300px;">
                        </a>
                        <a  [routerLink]="'/blog/'+blog?.id" class="p-3" style="flex: 1">
                            <span>{{blog?.title}}</span>
                        </a>
                    </article>
                </div>

                <!--                <div class="col-lg-4 col-md-6 col-12" style="margin-bottom: 20px;">
                                    <article class="d-flex flex-column flex-wrap justify-content-between align-items-start" style="background-color: #FFFFFF">
                                        <img alt="post"
                                             src="https://images.indepth.dev/images/2021/03/How-we-make-our-base-components-more-flexible_-controllers-concept-in-Angular.png"
                                             style="width: 100%; height: 200px;">
                                        <span style="flex: 1;" class="p-3">Title Blog</span>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12" style="margin-bottom: 20px;">
                                    <article class="d-flex flex-column flex-wrap justify-content-between align-items-start" style="background-color: #FFFFFF">
                                        <img alt="post"
                                             src="https://images.indepth.dev/images/2021/03/How-we-make-our-base-components-more-flexible_-controllers-concept-in-Angular.png"
                                             style="width: 100%; height: 200px;">
                                        <span style="flex: 1;" class="p-3">Title Blog</span>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12" style="margin-bottom: 20px;">
                                    <article class="d-flex flex-column flex-wrap justify-content-between align-items-start" style="background-color: #FFFFFF">
                                        <img alt="post"
                                             src="https://images.indepth.dev/images/2021/03/How-we-make-our-base-components-more-flexible_-controllers-concept-in-Angular.png"
                                             style="width: 100%; height: 200px;">
                                        <span style="flex: 1;" class="p-3">Title Blog</span>
                                    </article>
                                </div>-->
            </div>
        </div>
    </div>
</div>