<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div>
            <input class="form-control" type="text" alt="Title blog" formControlName="title">
        </div>
        <div>
            <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
        </div>
        <div class="file-source-button d-flex flex-row align-items-center">
            <input formControlName="photoUrl" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-success">Apply</button>
    </form>
</div>
